.admin-header {
    height: 6.5vh;
    width: 100%;
    background-color: #FFFDF9;
    border-bottom: 1px solid #E6DFD5;
    display: flex;
    align-items: center;
}

.admin-header-content {
    width: 100%;
    padding: 0 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.admin-header-title {
    font-weight: 600;
    font-size: clamp(18px, 1.5vw, 28px);
    margin: 0;
}