table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

/* 공통 색상 관리 */
:root {
    --table-bg: #FFFDF9;
    --table-hover: #F7F1E7;
    --table-border: #5D695D;
}

thead th {
    height: 70px;
    border-top: 3px solid var(--table-border);
    border-bottom: 1px solid var(--table-border);
    text-align: center;
    vertical-align: middle;
    font-weight: 600;
    background-color: var(--table-bg);
}

tbody td {
    height: 60px;
    border-bottom: 1px solid var(--table-border);
    text-align: center;
    vertical-align: middle;
    padding: 0;
    background-color: var(--table-bg);
}

td,
th {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

tbody tr:hover td,
tbody tr:hover .cell-content {
    background-color: var(--table-hover);
    cursor: pointer;
}

.cell-content {
    background-color: var(--table-bg);
    max-height: 60px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 8px;
    box-sizing: border-box;

    white-space: normal;
    word-break: break-word;
}