@font-face {
    font-family: 'suite';
    src: url(../font/SUITE-Variable.ttf);
}

.search-group {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    align-items: center;
    padding-bottom: 20px;
}

.filter-select {
    height: 35px;
    padding: 5px 15px;
    border-radius: 10px;
    border: 1px solid #D7E1E8;
    color: #6B5949;
    cursor: pointer;
    outline: none;
    font-family: 'suite';
}

/* filter-select placeholder */
.filter-select [type="date"] {
    color: #C2AA84; 
    padding-right: 10px;
}

.filter-select[type="date"]:focus,
.filter-select[type="date"]:valid {
    font-size: 15px;
    color: #C2AA84;
}

.filter-select[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    opacity: 0.7;
}

.search-box {
    height: 35px;
    width: 55%;
    display: flex;
    align-items: center;
    border: 1px solid #D7E1E8;
    border-radius: 10px;
    margin: 0px;
    padding: 0px;
}

.search-box input {
    width: 100%;
    border: none;
    outline: none;
    margin-left: 10px;
}

.search-box ::placeholder {
    font-size: 15px;
}

.search-btn {
    height: 35px;
    cursor: pointer;
    background-color: #D7E1E8;
    padding: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    overflow: hidden;
    justify-content: center;
}

.search-btn img {
    background-color: #D7E1E8;
}

.filter-select,
.search-box,
.search-box input,
.filter-select option {
    background-color: #FFFDF9;
}

.notice-toolbar {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.notice-toolbar .search-group {
    flex: 1;
}

.notice-toolbar .btn1 {
    flex-shrink: 0;
    white-space: nowrap;

    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    box-sizing: border-box;
}