.header {
  height: 70px;
  width: 100%;
  background-color: #FFFDF9;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 150px;
  height: 50px;
}

.logo img {
  height: auto ;
  width: 15%;
  margin-left: 30px;
  min-height: 50px;
  min-width: 150px;
}

.logout {
  color: #6B5B4D;
  border: none;
  cursor: pointer;
  margin-right: 30px;
  white-space: nowrap;
}

.logout:hover {
  text-decoration: underline;
}

div, img, p {
  background-color: transparent;
}