.navbar {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2EADB;
}

.navbar-list{
    display: flex;
    gap: 40px;
    list-style: none;
    white-space: nowrap;
}

.navbar-list a, li {
    text-decoration: none;
    color: #5D695D;
    background-color: transparent;
}

ul, li{
    background-color: transparent;
}

.navbar-list a:hover {
    text-decoration: underline;
}

.navbar-list a.active {
    text-decoration: underline;
    font-weight: bold;
}