.notice-box> :first-child {
    margin-bottom: 15px;
}

.notice-table-wrapper {
    flex: 1;
    overflow-y: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

:root {
    --table-hover: #F7F1E7;
    --table-border: #5D695D;
}

thead th {
    height: 70px;
    border-top: 3px solid var(--table-border);
    border-bottom: 1px solid var(--table-border);

    text-align: center;
    vertical-align: middle;
    font-weight: 600;
}

tbody td {
    height: 60px;
    border-bottom: 1px solid var(--table-border);

    text-align: center;
    vertical-align: middle;
    padding: 0;
}

tbody tr:hover td {
    background-color: var(--table-hover);
    cursor: pointer;
}

td,
th {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.cell-content {
    padding: 8px;
    box-sizing: border-box;

    white-space: normal;
    word-break: break-word;
}

.notice-table-wrapper,
.notice-table-wrapper table,
.notice-table-wrapper thead th,
.notice-table-wrapper tbody td {
    background: #FFFDF9 !important;
}

.notice-table-wrapper tbody tr:hover td {
    background: #F7F1E7 !important;
}