.admin-notice-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 40px 20px;
}

.admin-notice-title {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 20px;
    background: transparent;
}

.admin-form-group {
    margin-bottom: 25px;
}

.admin-form-group label {
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
}

.admin-form-group input,
.admin-form-group textarea {
    width: 100%;
    border: 1px solid #d5d0c7;
    border-radius: 12px;
    padding: 14px;
    font-size: 16px;
    background: #fff;
    color: #6B5949;
}

.admin-form-group textarea {
    height: 300px;
    resize: none;
    font-family: 'suite';
}

.admin-form-group input::placeholder,
.admin-form-group textarea::placeholder {
    color: #C2AA84;
    font-size: 16px;
}

.btn-area {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}


@media (max-width: 768px) {
    .notice-container {
        padding: 20px;
    }

    .notice-form {
        padding: 20px;
    }

    .form-group textarea {
        height: 220px;
    }
}

@media (max-width: 480px) {

    .notice-title {
        font-size: 20px;
    }

    .btn-area {
        flex-direction: column;
    }

    .btn-area button {
        width: 100%;
    }
}