.payment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px;
}

.payment-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

.payment-card-wrapper {
  background-color: #FFFDF9;
  width: 80%;
  height: 65vh;
  border-radius: 20px;
  padding: 60px 80px;
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

/* 왼쪽 */
.left-container {
  flex: 3;
  overflow-y: auto;
  padding-right: 20px;
}


.payment-item {
  display: grid;
  grid-template-columns: 140px 1fr;  /* 라벨 너비 고정 */
  row-gap: 20px;
  align-items: center;
  margin-bottom: 20px;
}

.payment-info-title {
  font-size: 18px;
  font-weight: bold;
}

.payment-info-value {
  font-size: 18px;
}

/* 강아지 선택 */
.dog-select {
  width: 120px;
  padding: 8px 12px;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  font-size: 16px;
  background-color: #FFFDF9;
  cursor: pointer;
  outline: none;
  color: #6B5949;
}

option {
  background-color: transparent;
}

/* 항목 간 구분선 */
.item-line {
  grid-column: span 2;
  border-top: 1px solid #d9d9dd;
  margin-top: 10px;
}

/* 오른쪽: 총액과 결제 버튼 */
.right-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.total-price-box {
  width: 100%;
  border-bottom: 2px solid #6B5949;
  margin-bottom: 30px;
  padding-bottom: 10px;
}

.item-summary-title {
  margin-bottom: 10px;
}

.total-label {
  font-size: 18px;
  margin-bottom: 8px;
}

.total-price {
  font-size: 32px;
  font-weight: bold;
  color: #333;
}

/* 결제 하기 버튼 */
.right-container .btn1 {
  width: 100%;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
}

/* 스크롤바 디자인 */
.left-container::-webkit-scrollbar {
  width: 6px;
}

.left-container::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
  border-radius: 10px;
}