.inner-body {
    background: #FFFDF9;
    height: 69vh;
    width: 80%;
    padding: 30px;
    border-radius: 20px;
    margin: 30px auto;
    overflow: hidden;
    justify-content: center;
}

.paw {      
    width: 50px;
    height: 50px;
}

.title {     
    font-size: 32px;
    font-weight: bold;
    margin-left: 10px;
}

/* 훈련사 파일 업로드 */
.file-upload {
    display: flex;
    align-items: center;
}

.upload-name {
    border: solid 1px #705948;
}

.file-upload label {
    background: #C2AA84;
    color: #FFFFFF;
    cursor: pointer;
}

.file-upload label:hover {
    background: #A59170;
}

#file-input {
  display: none;
}