.trainpost-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    gap: 15px;
}

.trainpost-container-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    gap: 15px;
}

.trainpost-container .info-label, .trainpost-container-description .info-label {
    width: 160px;
    font-size: 25px;
}

.trainpost-container .trainpost-textbox, .trainpost-container-description .trainpost-textbox {
    font-family: 'suite';
    font-size: 20px;
    color: #705948;
    flex: 1;
    height: 40px;
    border: solid 1.5px #705948;
    border-radius: 5px;
    background: #FFFDFD;
}

/* 일시 placeholder */
.textbox[type="time"] {
    color: #C2AA84; 
    font-family: 'suite';
    padding-right: 10px;
}

.textbox[type="time"]:focus,
.textbox[type="time"]:valid {
    font-size: 20px;
    color: #C2AA84;
}

.textbox[type="time"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    opacity: 0.7;
}

