label {
    background: #FFFDF9;
    font-weight: 600;
}
.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    gap: 30px;
}

.info-label {
    width: 160px;
    font-size: 25px;
}

.input-row {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px;
}

input::placeholder {
    font-size: 20px;
    color: #C2AA84
}

.radio-group {
    display: flex;
    gap: 100px;
    font-size: 22px;
}

.textbox {
    flex: 1;
    height: 40px;
    /* width: 50vh; */
    border: solid 1.5px #705948;
    border-radius: 5px;
    background: #FFFDFD;
}

/* 생년월일 placeholder */
.textbox[type="date"] {
    color: #C2AA84; 
    font-family: 'suite';
    padding-right: 10px;
}

.textbox[type="date"]:focus,
.textbox[type="date"]:valid {
    font-size: 20px;
    color: #C2AA84;
}

.textbox[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    opacity: 0.7;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 40px;
    padding-right: 40px;
}

.button-container .btn1:not(:disabled) {
    background-color: #C2AA84;
    cursor: pointer;
}

.button-container .btn1:not(:disabled):hover {
    background-color: #A59170;
}

.button-container .btn1:disabled {
    background-color: #BDBDBD;
    cursor: not-allowed;
}